NETWORK_NAME=LACMIP_9951-3_Helicancylus_pilsbryi 
PRESTON_NETWORK_SEED="http://ipt.idigbio.org/archive.do?r=lacm-ip"
NETWORK_LONGNAME="Helicancylus pilsbryi (Anderson, 1938) - LACMIP 9951.3 - LACM Invertebrate Paleontology - 576cbe09-6484-4f87-b15d-b8a17c90a835 https://www.gbif.org/occurrence/2012640793"
NETWORK_DESCRIPTION="${NETWORK_NAME} provides media and a wavefront 3D object model, of amminote specimen ${NETWORK_LONGNAME} as well as the original digital data/image files that were used to find and build this 3D model."
PRESTON_REMOTE_URL=https://zenodo.org/record/7577643/files

